/** @format */

.grid-container {
	display: grid;
	grid-template-columns: auto auto auto;
	background-color: #2196f3;
	padding: 10px;
	flex-wrap: wrap;
}
.grid-item {
	background-color: rgba(255, 255, 255, 0.8);
	border: 1px solid rgba(0, 0, 0, 0.8);
	padding: 20px;
	font-size: 30px;
	text-align: center;
}
@media only screen and (max-width: 1200px) {
	/*Tablets [601px -> 1200px]*/
	img {
		width: 300px;
		height: auto;
	}
	.grid-container {
		flex-direction: column;
		align-items: center;
		display: flex;
		margin: auto 0 0 2em;
	}
}
@media only screen and (max-width: 600px) {
	/*Big smartphones [426px -> 600px]*/
	img {
		width: 300px;
		height: auto;
	}
	.grid-container {
		flex-direction: column;
		align-items: center;
		display: flex;
	}
}
@media only screen and (max-width: 425px) {
	/*Small smartphones [325px -> 425px]*/
	img {
		width: 300px;
		height: auto;
	}
	.grid-container {
		flex-direction: column;
		align-items: center;
		display: flex;
	}
}
