/** @format */

nav {
	margin: 25px;
	/* background: #f9f9f9; */
	padding: 16px;
}
nav .menuItems {
	list-style: none;
	display: flex;
}
nav .menuItems li {
	margin: 50px;
}
nav .menuItems li a {
	text-decoration: none;
	color: #8f8f8f;
	font-size: 24px;
	font-weight: 400;
	transition: all 0.5s ease-in-out;
	position: relative;
	text-transform: uppercase;
}
nav .menuItems li a::before {
	content: attr(data-item);
	transition: 0.5s;
	color: #8254ff;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 0;
	overflow: hidden;
}

nav .menuItems li a:hover::before {
	width: 100%;
	transition: all 0.5s ease-in-out;
}
#navbar {
	width: 100vw !important;
	display: flex;
	/* position: fixed; */
	top: 0px;
	margin: auto;
}

/* Media queries */
@media only screen and (max-width: 1200px) {
	/*Tablets [601px -> 1200px]*/
	nav {
		margin: 15px;
		/* background: #f9f9f9; */
		padding: 16px;
	}
	nav .menuItems li {
		margin: 20px;
	}
}
@media only screen and (max-width: 600px) {
	/*Big smartphones [426px -> 600px]*/
	nav {
		margin: 10px;
		/* background: #f9f9f9; */
		padding: 16px;
	}
	nav .menuItems li {
		margin: 10px;
	}
}
@media only screen and (max-width: 425px) {
	/*Small smartphones [325px -> 425px]*/
	nav {
		margin: 6px;
		/* background: #f9f9f9; */
		padding: 16px;
	}
	nav .menuItems li {
		margin: 8px;
	}
}

/*  */
